<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Velcro.js Proof of Concept</title>
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
  <h1 id="title">
    <% if request.path == '/' %>
      Velcro.js Proof of Concept
    <% else %>
      <a href="/" data-vc-push="#title, #lessons, #sponsor">Velcro.js Proof of Concept</a>
    <% end %>
  </h1>
  <%= yield %>
  <script src="/assets/zepto-1.0rc1.min.js"></script>
  <script src="/assets/scripts.js"></script>
</body>
</html>
